<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="vue.js"></script>
  <script src="./vue-methods/stringifyClass.js"></script>
</head>
<body>
  <div id="app">
    <!-- <div v-if="flag" ref='message'>{{ message }}</div> -->
    <!-- <div v-else>{{ randomNum }}</div> -->
    <button @click="change">change</button>
    <button @click="toggle">toggle</button>
    <button-counter :info="info"></button-counter>
    <ul>
      <li v-for="(item, index) in datalist">{{item}}</li>
    </ul>
  </div>
<script>
  Vue.component('button-counter', {
    props: {
      info: {
        type: Object,
        default: () => {}
      }
    },
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ info }} times.</button>',
    mounted() {
      var self = this
      setTimeout(function(){
        self.count = 1000
      }, 2000)
    },  
  })
  var app = new Vue({
    el: '#app',
    data: {
      message: 1,
      opsa: {
        a: 2
      },
      info: {
        name: 2
      },
      randomNum: Math.random(),
      flag: true,
      list: [1,2,3,4],
      list2: [5,6,7,8],
      datalist: []
    },
    watch: {
      message() {
        console.log('我是message的watch')
      }
    },
    mounted() {
      this.datalist = this.list
      var tt = this.message
      setInterval(() => {
        tt += 1
        this.info.name++
        console.log(tt, this.message, this.info)
      }, 2000)
    },
    methods: {
      change () {
        var self = this
        this.message = 'Hello world!' + Math.random()
        // console.log('同步 ' + this.$refs.message.innerText)
        // this.$nextTick(function(){
        //   console.log('nexttick ' + this.$refs.message.innerText)
        // })
      },
      toggle () {
        this.flag = !this.flag
        // this.message = 'Hello world!3232323232323232323'
        if (this.flag) {
          this.datalist = this.list
        } else {
          this.datalist = this.list2
        }
      }
    },
  })
</script>
</body>
</html>